.visit-table {
  width: 30%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
}

.visit-table th {
  background-color: #4CAF50;
  color: #f5f5f5;
  padding: 8px;
}

.visit-table td {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f5f5f5 ;
}

.visit-table a {
  color: #2196F3;
  text-decoration: none;
  text-transform: uppercase;
}

.visit-table a:hover {
  text-decoration: underline;
}

.addCommentForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  background: #f5f5f5;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 40px 70px auto;
}

.rateForm{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 40px 70px auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

label {
  margin-bottom: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 1;
}

button{
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 1s;
  margin: 20px 100px;
}
