<h1>Dodaj nowy produkt</h1>
<form [formGroup]="assortmentAddForm" (submit)="addAssortment()">
  <div class="form-field">
    <label for="name">Nazwa</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div class="form-field">
    <label for="type">Rodzaj</label>
    <select id="type" formControlName="type" (change)="onTypeChange()">
      <option value=""></option>
      <option *ngFor="let type of assortmentType" value="{{type}}">{{type}}</option>
    </select>
  </div>
  <div class="form-field" *ngIf="selectedType == 'COUNTABLE'">
    <label for="quantity">Ilość</label>
    <input type="number" id="quantity" formControlName="quantity">
  </div>
  <div class="form-field" *ngIf="selectedType == 'UNCOUNTABLE'">
    <label for="volume">Ilość</label>
    <input type="number" id="volume" formControlName="volume">
  </div>
  <div class="form-field" *ngIf="selectedType == 'UNCOUNTABLE'">
    <label for="unit">Jednostka</label>
    <select name="unit" id="unit" formControlName="unit">
      <option *ngFor="let unit of assortmentUnit" value="{{ unit }}">{{ unit }}</option>
    </select>
  </div>
  <div class="form-field">
    <label for="category">Kategoria</label>
    <select id="category" formControlName="category">
      <option value=""></option>
      <option *ngFor="let c of assortmentCategory" value="{{ c }}">{{ c }}</option>
    </select>
  </div>
  <button type="submit">Dodaj</button>
</form>
