<form>
  <div class="form-field">
    <label>Wybierz miesiąc</label>
    <input type="month" (change)="onMonthChange()" [formControl]="selectedDate">
  </div>
  <div class="form-field">
    <label>Wybierz dzień</label>
    <input type="date" [formControl]="selectedDate" (change)="onDayChange()">
  </div>

  <div class="form-field">
    <label for="employee">Pracownik</label>
    <select name="employee" id="employee" [formControl]="userSelect" (change)="onUserSelected()">
      <option value=""></option>
      <option *ngFor="let e of availableUsers" value="{{ e.id }}">{{ e.forename }} {{ e.surname }}</option>
    </select>
  </div>

  <button (click)="getExcel()">Pobierz</button>
</form>
<div *ngIf="showedShifts && showedShifts.length > 0">
  <table class="shifts_table" id="shifts">
    <tr>
      <th>Lista zmian</th>
      <ng-container *ngIf="!userSelect.value">
        <th *ngFor="let x of availableUsers">Pracownik</th>
      </ng-container>
    </tr>
    <tr *ngFor="let s of showedShifts">
      <td>{{ s.shiftStart }} - {{ s.shiftEnd }}</td>
      <ng-container *ngIf="!userSelect.value">
        <td *ngFor="let e of s.employees">{{ e.forename }} {{ e.surname }}</td>
      </ng-container>
    </tr>
  </table>
</div>
