<a routerLink="/shifts/generate"><button>Generuj grafik</button></a>
<form>
  <div class="form-field">
    <label>Wybierz miesiąc</label>
    <input type="month" (change)="onMonthChange()" [formControl]="selectedDate">
  </div>
  <div class="form-field">
    <label>Wybierz dzień</label>
    <input type="date" [formControl]="selectedDate" (change)="onDayChange()">
  </div>

  <div class="form-field">
    <label for="employee">Pracownik</label>
    <select name="employee" id="employee" [formControl]="userSelect" (change)="onUserSelected()">
      <option value=""></option>
      <option *ngFor="let e of availableUsers" value="{{ e.id }}">{{ e.forename }} {{ e.surname }}</option>
    </select>
  </div>

  <button (click)="getExcel()">Pobierz</button>
</form>
<div *ngIf="showedShifts && showedShifts.length > 0">
  <table class="shifts_table" id="shifts">
    <tr>
      <th>Zmiana</th>
      <th  *ngIf="!userSelect.value">Pracownicy</th>
    </tr>
    <ng-container *ngFor="let s of showedShifts">
      <tr *ngFor="let e of s.employees; index as i">
        <td [rowSpan]="s.employees.length" *ngIf="i == 0">{{ s.shiftStart }} - {{ s.shiftEnd }}</td>
        <td *ngIf="!userSelect.value">{{ e.forename }} {{ e.surname }}</td>
      </tr>
    </ng-container>
  </table>
</div>
