<h1>Formularz dodawania pracownika</h1>
<form [formGroup]="employeeAddForm" (submit)="addEmployee()">
  <div>
    <label for="forename">Imię</label>
    <input type="text" id="forename" formControlName="forename">
  </div>
  <div>
    <label for="surname">Nazwisko</label>
    <input type="text" id="surname" formControlName="surname">
  </div>
  <div>
    <label for="phone">Telefon</label>
    <input type="text" id="phone" formControlName="phone">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email">
  </div>
  <div>
    <label for="password">Hasło</label>
    <input type="text" id="password" formControlName="password">
  </div>
  <div>
    <label for="street">Ulica</label>
    <input type="text" id="street" formControlName="street">
  </div>
  <div>
    <label for="houseNumber">Numer domu</label>
    <input type="text" id="houseNumber" formControlName="houseNumber">
  </div>
  <div>
    <label for="zipcode">Kod pocztowyę</label>
    <input type="text" id="zipcode" formControlName="zipcode">
  </div>
  <div>
    <label for="city">Miasto</label>
    <input type="text" id="city" formControlName="city">
  </div>
  <button type="submit">Dodaj</button>
</form>
