<div>
  <h1>Informacje dotyczące operacji:</h1>
  <table class="infoTable">
    <tr>
      <th>Zwierzę</th>
      <td>{{ surgery?.animal?.name }}</td>
    </tr>
    <tr>
      <th>Rodzaj zwierzęcia</th>
      <td>{{ surgery?.animal?.species }}</td>
    </tr>
    <tr>
      <th>Rasa</th>
      <td>{{ surgery?.animal?.breed }}</td>
    </tr>
    <tr>
      <th>Zabieg</th>
      <td>{{ surgery?.surgery?.name }}</td>
    </tr>
  </table>
</div>
<form *ngIf="role == 'DOCTOR'">
  <div class="form-field">
    <label for="date">Użyty lek</label>
    <select id="date" [formControl]="selectedAssortment" (change)="onAssortmentSelected()">
      <option value=""></option>
      <option *ngFor="let assortment of assortments" [value]="assortment.idAssortment">{{ assortment.name }}</option>
    </select>
  </div>
  <div class="form-field">
    <label for="unit">Jednostka</label>
    <input id="unit" *ngIf="assortmentType != ''" [formControl]="usedQuantityAmount"> {{ unit }}
  </div>
  <div>
    <button *ngIf="assortmentType != ''" (click)="addAssortmentToSurgery()">Użyj</button>
  </div>
</form>
<div>
  <h3>Użyty asortyment:</h3>
  <table class="surgery-table">
    <tr>
      <th>Nazwa</th>
      <th>Ilość</th>
      <th>Jednostka</th>
    </tr>
    <tr *ngFor="let used of surgery?.usedAssortment">
      <td>{{ used.assortment?.name }}</td>
      <td>{{ used.quantity }}{{ used.amount }}</td>
      <td>{{ used.assortment?.unit }}</td>
    </tr>
  </table>
</div>
