form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  background: #f5f5f5;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 50px;
  width: 80%;
  margin:20px auto auto;
}


.form-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


label {
  margin-bottom: 5px;

}


input {
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 1;
}


button {
  margin-top: 20px;
  align-self: flex-start;
}
h1 {
  margin-top: 20px;
  margin-left:170px;
  color:black;
  font-weight: 500;
}

h2{
  margin-top: 20px;
  margin-left:200px;
  color:black;
  font-weight: 400;
}

h3 {
  margin-top: 40px;
  margin-left:200px;
  color:black;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}


.surgery-table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.infoTable {
  width: 20%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: auto;
}


.surgery-table th, .infoTable th {
  background-color: #4CAF50;
  color: #f5f5f5;
  padding: 8px;
}


.surgery-table td, .infoTable td {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f5f5f5 ;
}


.surgery-table a, .infoTable a{
  color: #2196F3;
  text-decoration: none;
  text-transform: uppercase;
}

.surgery-table a:hover, .infoTable a:hover {
  text-decoration: underline;
}
