<div *ngIf="animal$ | async as animal">
  <table class="animal-table" >
    <thead>
    <tr>
      <th>Imię</th>
      <th>Rasa</th>
      <th>Gatunek</th>
      <th>Wizyty</th>
      <th>Operacje</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ animal.name }}</td>
      <td>{{ animal.breed }}</td>
      <td>{{ animal.species }}</td>
      <td><p *ngFor="let v of animal.visits"><a routerLink="/visit/{{v.idVisit}}">{{v.date}}</a></p></td>
      <td><p *ngFor="let s of animal.surgeries"><a routerLink="/animalSurgery/{{s.idAnimalSurgery}}">{{s.date}}</a></p></td>
    </tr>
    </tbody>
  </table>
</div>
