<h3>Wybierz termin:</h3>
<form [formGroup]="availableTermForm" (submit)="onSetVisitTerm()">
  <input type="date" formControlName="dayFrom">

  <input type="date" formControlName="dayTo">
  <select id="rangeStart" formControlName="hourFrom">
    <option *ngFor="let h of visitHours" value="{{ h }}">{{ h }}</option>
  </select>

  <select id="rangeEnd" formControlName="hourTo">
    <option *ngFor="let h of visitHours" value="{{ h }}">{{ h }}</option>
  </select>
  <button type="submit">Pokaż dostępne terminy</button>
</form>

<form [formGroup]="visitForm" (submit)="addVisit()">
  <div class="form-field">
    <label for="animal">Zwierzę</label>
    <select id="animal" formControlName="animal">
      <option *ngFor="let animal of animals" value="{{ animal.idAnimal }}">{{ animal.name }}</option>
    </select>
  </div>
  <div class="form-field">
    <label for="ownerComments">Uwagi</label>
    <textarea id="ownerComments" formControlName="ownerComments"></textarea>
  </div>

  <div class="form-field">
    <label for="doctor">Lekarz</label>
    <select id="doctor" formControlName="doctor" (change)="getDoctorVisitTerm()">
      <option value=""></option>
      <option *ngFor="let doctor of availableTerms" value="{{ doctor.doctor.id }}">{{ doctor.doctor.forename }}</option>
    </select>
  </div>

  <div class="form-field">
    <label for="date">Termin</label>
    <select id="date" formControlName="date">
      <option *ngFor="let term of terms | async" value="{{ term }}">{{ term }}</option>
    </select>
  </div>

  <div>
    <button type="submit">Umów wizytę</button>
  </div>
</form>



