<div>
  <p *ngIf="!isArchive"><a id="archBtn" routerLink="/animalSurgeries/archive">Archiwum</a></p>

  <div *ngIf="currentSurgery && !isArchive">
    <h2>Najbliższy/obecny zabieg</h2>
    <table class="animal_surgeries_table">
      <tr>
        <th>Zwierzę</th>
        <th>Termin</th>
        <th>Zabieg</th>
      </tr>
      <tr>
        <td>{{ currentSurgery.animal?.name }}</td>
        <td>{{ currentSurgery.date }}</td>
        <td>{{ currentSurgery.surgery?.name }}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="animalSurgeries && animalSurgeries.length > 0">
    <h1>{{ isArchive ? 'Archiwalne' : 'Nadchodzące'}} zabiegi:</h1>
    <table class="animal_surgeries_table">
      <tr>
        <th>Zwierzę</th>
        <th>Termin</th>
        <th>Zabieg</th>
      </tr>
      <tr *ngFor="let surgery of animalSurgeries">
        <td><a routerLink="/animalSurgery/{{ surgery.idAnimalSurgery }}">{{ surgery.animal?.name }}</a></td>
        <td>{{ surgery.date }}</td>
        <td>{{ surgery.surgery?.name }}</td>
      </tr>
    </table>
  </div>
</div>
