button,a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 15%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 1s;
  margin: 20px auto auto;

}
h1{
  margin-top: 20px;
  margin-left:10px;
  color:black;
  font-weight: 500;
}
/* Styl ogólny tabeli */
.animal_surgeries_table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Styl nagłówków tabeli */
.animal_surgeries_table th {
  background-color: #4CAF50;
  color: #f5f5f5;
  padding: 8px;
}

/* Styl komórek tabeli */
.animal_surgeries_table td {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f5f5f5 ;
}

/* Styl linków */
.animal_surgeries_table a {
  color: #2196F3;
  text-decoration: none;
  text-transform: uppercase;
}

.animal_surgeries_table a:hover {
  text-decoration: underline;
}

td{
  text-transform: uppercase;
}
