<div>
  <form *ngIf="role == 'CLIENT'" [formGroup]="animalForm" (submit)="addAnimal()">
    <label for="name">Imię</label>
    <input type="text" id="name" formControlName="name">

    <label for="dateOfBirth">Data urodzenia</label>
    <input type="date" id="dateOfBirth" formControlName="dateOfBirth">


    <label for="species">Gatunek</label>
    <input type="text" id="species" formControlName="species">

    <label for="breed">Rasa</label>
    <input type="text" id="breed" formControlName="breed">

    <button type="submit">Dodaj zwierzę</button>
  </form>
  <h1>{{ role == 'CLIENT' ? 'Twoje zwierzęta' : 'Baza zwierząt'}}</h1>
  <div *ngFor="let animal of animals">
    <a routerLink="/animal/{{ animal.idAnimal }}">{{ animal.name }}</a>
  </div>
</div>


