<div>
  <form *ngIf="role == 'CLIENT'" [formGroup]="animalForm" (submit)="addAnimal()">
    <div class="form-field">
      <label for="name">Imię</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div class="form-field">
      <label for="dateOfBirth">Data urodzenia</label>
      <input type="date" id="dateOfBirth" formControlName="dateOfBirth">
    </div>

    <div class="form-field">
      <label for="species">Gatunek</label>
      <input type="text" id="species" formControlName="species">
    </div>
    <div class="form-field">
      <label for="breed">Rasa</label>
      <input type="text" id="breed" formControlName="breed">
    </div>
    <div>
     <button type="submit">Dodaj zwierzę</button>
    </div>
  </form>
  <div *ngIf="animals && animals.length > 0">
    <h1>{{ role == 'CLIENT' ? 'Twoje zwierzęta:' : 'Baza zwierząt:'}}</h1>
    <table class="animals-table">
      <tr>
        <th>ID Zwierzęcia</th>
        <th>Nazwa Zwierzęcia</th>
      </tr>
      <tr *ngFor="let animal of animals">
        <td>{{ animal.idAnimal }}</td>
        <td><a routerLink="/animal/{{ animal.idAnimal }}">{{ animal.name }}</a></td>
      </tr>
    </table>
  </div>
</div>


