<h1>Profil pracownika</h1>
<p>Imię: {{ employee?.forename }}</p>
<p>Nazwisko: {{ employee?.surname }}</p>
<p>Telefon: {{ employee?.phone }}</p>
<p>Email: {{ employee?.email }}</p>
<p>Adres: {{ employee?.houseNumber }} {{ employee?.street }}, {{ employee?.zipcode }} {{ employee?.city }}</p>
<div>
  <h3>Wizyty</h3>
  <p *ngFor="let v of employee?.visits "><a routerLink="/visit/{{ v.idVisit }}">{{ v.date }}</a></p>
</div>
<div>
  <h3>Zabiegi</h3>
  <p *ngFor="let s of employee?.surgeries"><a routerLink="/animalSurgery/{{s.idAnimalSurgery}}">{{s.date}}</a></p>
</div>
