
h1,p, h3{
  margin:20px 100px auto;
  color:black;
  font-weight: 500;
}

.employeeInfoTable, .visitsTable, .surgeryListTable{
  width: 40%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: auto;
}

.employeeInfoTable th, .visitsTable th, .surgeryListTable th {
  background-color: #4CAF50;
  color: #f5f5f5;
  padding: 8px;
}

.employeeInfoTable td, .visitsTable td, .surgeryListTable td {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f5f5f5 ;
}

.employeeInfoTable a, .visitsTable a, .surgeryListTable a{
  color: #2196F3;
  text-decoration: none;
  text-transform: uppercase;
}

.employeeInfoTable a:hover, .visitsTable a:hover, .surgeryListTable a:hover {
  text-decoration: underline;
}
