<table class="animal-surgery-table">
  <tr>
    <th>Nazwa zwierzęcia:</th>
    <td>{{ animal?.name }}</td>
  </tr>
  <tr>
    <th for="surgery">Wybierz zabieg:</th>
    <td>
      <select name="surgery" id="surgery" [formControl]="selectedSurgery">
        <option *ngFor="let surgery of surgeries" value="{{ surgery.idSurgery }}">{{ surgery.name }}</option>
      </select>
    </td>
  </tr>
</table>
<h3>Wybierz termin</h3>
<form class="availableTermForm" [formGroup]="availableTermForm" (submit)="getAvailableTerms()">
  <input type="date" formControlName="dayFrom">
  <input type="date" formControlName="dayTo">
  <button type="submit">Pokaż dostępne terminy</button>
</form>
<form class="dateForm">
<div class="form-field">
  <label for="date">Termin</label>
  <select id="date" [formControl]="surgeryDate">
    <option *ngFor="let term of terms | async" value="{{ term }}">{{ term }}</option>
  </select>
</div>
<button (click)="setSurgery()">Zapisz zabieg</button>
</form>
